<main class="home-main">
  <div class="home-container">
    <h1 class="home-container__title">Guía de Angular</h1>
    <strong class="home-container__strong">by: Sebastian de la cruz</strong>
    <app-scroll-down />
  </div>

  <section class="home-objetivo">
    <h2 class="home-objetivo__subtitle">Objetivo </h2>
    <div class="home-objetivo__container">
      <p class="home-objetivo__paragraph">Esta pagina tiene el propósito de resumir , dar ejemplos y entender angular.
        Ya
        que la documentación me confunde
        un poco 🫠. Por eso me tome el tiempo de recolectar información y ejemplos mas que nada para mi. <br>
        <b>PD: Si si existe la nueva documentación de angular pero algunas cosas siguen siendo confusas.</b>
      </p>
    </div>
  </section>
</main>
