<header>
  <nav class="nav">
    <menu class="menu">
      <li class="list-style-none"><a routerLink="/">Inicio</a></li>
      <li class="list-style-none"><a routerLink="componentes" routerLinkActive="active"
          ariaCurrentWhenActive="page">Componentes</a></li>
      <li class="list-style-none"><a href="">Plantillas</a></li>
      <li class="list-style-none"><a href="">Directivas</a></li>
      <li class="list-style-none"><a href="">Inyección de dependencias/Servicios</a></li>
      <li class="list-style-none"><a href="">Rutas</a></li>
      <li class="list-style-none"><a href="">Formularios</a></li>
      <li class="list-style-none"><a href="">HTTP client</a></li>
    </menu>
  </nav>
</header>